.header{
    min-height: 12rem;
    width: 100%;
    background-color: rgb(206, 203, 203);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
    margin-bottom: 1em;
    /* justify-content: start; */
}